.header {
	font-size: xx-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(97, 138, 100, 0.445);
	height: auto;
	width: auto;
	background-color: rgba(92, 119, 49, 0.466);
	/* For browsers that do not support gradients */
	background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.466),  rgba(55, 185, 76, 0.438), rgba(98, 138, 98, 0.445));
}

h1 {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(97, 138, 100, 0.411);
	height: auto;
	width: auto;
	background-color: rgba(92, 119, 49, 0.822);
	/* For browsers that do not support gradients */
	background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.404),  rgba(55, 185, 76, 0.438), rgba(98, 138, 98, 0.5));

}

h2 {
	font-size: x-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(97, 138, 100, 0.466);
	height: auto;
	width: auto;
	background-color: rgba(92, 119, 49, 0.466);
	/* For browsers that do not support gradients */
	background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.445),  rgba(55, 185, 76, 0.438), rgba(98, 138, 98, 0.37));

}

h3 {
	font-size: x-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(97, 138, 100, 0.466);
	height: auto;
	width: auto;
	background-color: rgba(92, 119, 49, 0.418);
	/* For browsers that do not support gradients */
	background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.459), rgba(55, 185, 76, 0.438), rgba(98, 138, 98, 0.473));

}

.aboutMeContainer {
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;

	height: auto;
	width: auto;
	background-image: repeating-radial-gradient(rgba(18, 95, 18, 0.466)15%, rgba(190, 255, 153, 0.473), rgba(26, 97, 26, 0.432));
border-radius: 25px;
}
.websiteContainer{
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;

	height: auto;
	width: auto;
	background-image: repeating-radial-gradient(rgba(18, 95, 18, 0.466)15%, rgba(190, 255, 153, 0.473), rgba(26, 97, 26, 0.432));
border-radius: 25px;
}

.bodyText {
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(163, 160, 108, 0.418);
	/* background: url(eberhard-grossgasteiger-TAltZdM1BGI-unsplash.jpg) fixed center; */
	background: url(https://images.unsplash.com/photo-1588097247274-a174dd59f20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)fixed center;
	background-size: cover;
}

.main {
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(201, 178, 127, 0.486);
	/* background: url(eberhard-grossgasteiger-TAltZdM1BGI-unsplash.jpg); */
	/* background-size: cover; */
	background-size: cover;
}

.title {
	font-size: x-large;
	background-color: rgba(105, 98, 151, 0.432);

}

.button {
	font-size: xx-large;
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(97, 138, 100, 0.712);
}

.buttonlayout {
	font-size: xx-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: rgba(200, 221, 200, 0.637);
}

.footer {
	font-size: xx-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
background-image: repeating-radial-gradient(rgba(18, 95, 18, 0.466)15%, rgba(190, 255, 153, 0.473), rgba(26, 97, 26, 0.432));
}

.main_photos {
	border-radius: 20px;
}

.text_container {
	background-color: rgba(200, 221, 200, 0.473);
	border: #000000;
}

.aboutMeCont {
	font-size: auto;

}

.button:hover {
	background-color: rgba(172, 246, 172, 0.692);
}


.programContainer {
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 4px #000000;

	height: auto;
	width: auto;
}

.projectContainer{
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;

	height: auto;
	width: auto;
	background-image: repeating-radial-gradient(rgba(18, 95, 18, 0.466)15%, rgba(190, 255, 153, 0.473), rgba(26, 97, 26, 0.432));
border-radius: 25px;
}

.projectHeader {
	font-size: 75px;
	font-weight: 400;
	color: white;
	text-shadow: 10px 10px 20px #000000;
	height: auto;
	width: auto;
}

.headerProject {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	height: auto;
	width: auto;


}

.skillBackground {
	background: url(https://images.unsplash.com/photo-1588097247274-a174dd59f20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)fixed center;
	background-size: cover;
}

.skillContainer {
	font-size: large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	height: auto;
	width: 50%;

}



.skillText1 {
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.skillText2 {
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.indexBackground {
	background: url(https://images.unsplash.com/photo-1588097247274-a174dd59f20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)fixed center;
	background-size: cover;
}

.body {
	background: url(https://images.unsplash.com/photo-1588097247274-a174dd59f20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)fixed center;
	background-size: cover;
}

.linkStyle{
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 4px #000000;

}

.linkStyle:hover{
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
	animation-duration:1s ;

}
.codingPhotos:hover{
	width: 100%;
}