.header{
	font-size: xx-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color:rgba(97, 138, 100, 0.74);
	height: auto;
  width: auto;
  background-color: rgba(92, 119, 49, 0.822); /* For browsers that do not support gradients */
  background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.822), rgba(192, 132, 63, 0.849) 10%, rgba(98, 138, 98, 0.89) 15%);
}
h1{
    font-size: x-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color:rgba(97, 138, 100, 0.74);
	height: auto;
  width: auto;
  background-color: rgba(92, 119, 49, 0.822); /* For browsers that do not support gradients */
  background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.822), rgba(192, 132, 63, 0.849) 10%, rgba(98, 138, 98, 0.89) 15%);
	
}
h2{
	font-size: x-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color:rgba(97, 138, 100, 0.74);
	height: auto;
  width: auto;
  background-color: rgba(92, 119, 49, 0.822); /* For browsers that do not support gradients */
  background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.822), rgba(192, 132, 63, 0.849) 10%, rgba(98, 138, 98, 0.89) 15%);
	
}
h3{
	font-size: x-large;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color:rgba(97, 138, 100, 0.74);
	height: auto;
  width: auto;
  background-color: rgba(92, 119, 49, 0.822); /* For browsers that do not support gradients */
  background-image: repeating-radial-gradient(rgba(105, 75, 126, 0.822), rgba(192, 132, 63, 0.849) 10%, rgba(98, 138, 98, 0.89) 15%);
	
}
.container{
	
	height: auto;
	width: auto;
	background-color: rgba(211, 144, 57, 0.904); /* For browsers that do not support gradients */
	background-image: repeating-radial-gradient(rgba(98, 138, 98, 0.89)15%,  rgba(192, 132, 63, 0.849) 10%, rgba(98, 138, 98, 0.89)15%);
	
}
.bodyText{
	font-size: large;
	background-color: rgba(163, 160, 108, 0.822);
	background: url(eberhard-grossgasteiger-TAltZdM1BGI-unsplash.jpg) fixed center;
    background-size: auto;
}
.main{
	font-size: large;
	background-color: rgba(201, 177, 127, 0.87);
	background: url(eberhard-grossgasteiger-TAltZdM1BGI-unsplash.jpg);
    background-size: contain;
}
.title{
	font-size: x-large;
	background-color: rgb(105, 98, 151);

}
.button{
	font-size: xx-large;
    background-color:rgba(97, 138, 100, 0.74);
}

.buttonlayout{
	font-size: xx-large;
    background-color:rgb(200, 221, 200);
}

.footer{
	font-size: xx-large;
	background-color: rgba(199, 128, 95, 0.849);

}
 
 