.header{
	font-size: xx-large;
	background-color: sienna;
}
h1{
    font-size: x-large;

	background-color:gray;
	
}
h2{
	font-size: x-large;
	background-color:olive;
	
}
h3{
	font-size: large;
	background-color:lightskyblue;
	
}
.container{
	
	background-color: thistle;
	
}
.bodyText{
	font-size: large;
	background-color: darkkhaki

}
.main{
	font-size: large;
    background-color: darksalmon
    

}
.title{
	font-size: x-large;
	background-color: slateblue

}
.button{
	font-size: xx-large;
    background-color:rgb(67, 219, 67);
}

.buttonlayout{
	font-size: xx-large;
    background-color:honeydew;
}

.footer{
	font-size: xx-large;
	background-color: rosybrown

}
 
 